<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' type = 'text/css' href = '/assets/style.css'/>
        <title>Red Rock Robotics - Database</title>
        <script>
            function changePage () {
                location.href = "/scoutingdata/ " + 
            }
        </script>
    </head>

    <body>
        <% include ../partial/nav.ejs %>

        <div id = 'container'>
            <h1>Scouting Database</h1>
            <form action = "/scoutingdata" method = "POST">
                <input type = "search" placeholder="Search(Team Number)" name="teamnum" />
                <input type = "submit"/>
            </form>

            <% for(let i =0; i < out.length; i++) { %>
                <h2>Match Number: <%= out[i].matchnum %></h2>
                <p>Team: <%= out[i].teamnum %></p>
                <p>High Boxes Scored: <%= out[i].highboxes %></p>
                <p>Low Boxes on Own Switch Scored: <%= out[i].lowboxesSelf %></p>
                <p>Low Boxes on Opposing Switch Scored: <%= out[i].lowboxesEnemy %></p>
                <p>Autonomous: <%= out[i].auto %></p>
                <p>Passed the line in Auto: <%= out[i].pass-line %></p>
                <p>Endgame: <%= out[i].endgame %></p>
                <p>Additional Notes: <%= out[i].additional-notes %></p>
            <% } %>

        </div>
    </body>
</html>